

.answer {background-color: rgba(255,0,0,0.4);
        color: red;
        text-shadow: 0px 0px 1px white;      
              }

.tick {visibility: hidden;}
.correct .answer {background-color: rgba(144,238,144,0.4);
          color: green;
          text-shadow: 0px 0px 1px white;      
                }
.correct .tick {visibility: visible; color: green;}

button {padding-left: 1%; padding-right: 1%;}
