


<div class="quiz container" *ngIf="question">
    <div class="row">
      <h1>{{question.label}}</h1>
    </div>
    
    <div class="row">
      <form [formGroup]="form" class="col-12">
        <div class="form-group row">
          
          <label *ngFor="let choice of question.choices" class="col-12">
            <input type="radio" [value]="choice" formControlName="choice">
            <span> &nbsp;&nbsp; {{choice.value}}</span>
          </label>
        </div>
      </form>
    </div>
    
  </div>
