


    <div class="container">
        <div class="row">
            <div class="col-12 header"><h1>Welcome</h1></div>
        </div>
    
        <div class="row">
            
            <div class="col-12"><h2>Choose your quiz</h2></div>
        </div>
    
        <div class="row">
            <div  class="col-12"> 
                <a href="/french"> <button class="col-4"> <p>French</p></button> </a>
                
            </div>
        </div>
    
        <div class="row">
            <div  class="col-12"> 
                
                <a href="/math"><button class="col-4"><p>Mathematics</p></button></a>
            </div>
        </div>
    
    </div>

