button {background-color: white;
        color: darkturquoise;
        border: solid darkturquoise thin;
        
        
            }

button:hover {background-color: darkturquoise;
              color: white;
              border: solid white thin;}

