/* You can add global styles to this file, and also import other style files */



.container {margin-top: 2%;}
.header {margin-top: 1%;    
        background-color:darkorange;
        color: white
        }

.row {margin-top: 2%;}      

a, a:hover,a:visited {color: rgba(0,0,0,0.7); text-decoration: none;}

button {color: white;background-color: darkturquoise; border: none; cursor: pointer;}

form {background-color: rgba(0,206,209,0.2);}
